.App {
  text-align: center;
  background-color: black;
  position: relative;
  min-height: 95vh;
  padding-bottom: 5vh;
  
}

.body-cont{
  display: flex;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;

}






